In [0]:
%sql
 USE CATALOG hive_metascore

In [0]:
CREATE TABLE employees
(id INT, name STRING, salary DOUBLE)

In [0]:
INSERT INTO employees VALUES (1, 'John', 100000), (2, 'Jane', 120000);
INSERT INTO employees values (3, 'Mary', 150000);
INSERT INTO employees values (4, 'Bob', 180000);
INSERT INTO employees values (5, 'Alice', 200000);
INSERT INTO employees values (6, 'Charlie', 250000);
INSERT INTO employees values (7, 'Dave', 300000);
INSERT INTO employees values (8, 'Eve', 350000);
INSERT INTO employees values (9, 'Frank', 400000)

In [0]:
SELECT * FROM employees

In [0]:
DESCRIBE DETAIL employees

In [0]:
update employees set salary = salary + 10000 WHERE name LIKE "A%";
SELECT * FROM employees

In [0]:
DESCRIBE DETAIL employees